.App {
  text-align: center;
}

.Logo {
  background-image: url(./ww84.png);
  height: 40vmin;
}
/* 
@media (prefers-reduced-motion: no-preference) {
  .Logo {
    animation: Logo-spin infinite 10s linear;
  }
} */
.h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: white;
  font-family: 'Poppins', sans-serif;
}
.body{
font-family: 'Poppins', serif;
}

.App-link {
  color: #f4c4e5;
  font-family: 'Poppins', serif;
}

/* 
@keyframes Logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
