.App {
 
  background-color: #282c34;


  
}



/* 
@media (prefers-reduced-motion: no-preference) {
  .Logo {
    animation: Logo-spin infinite 10s linear;
  }
} */
.h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  color: azure;
  font-weight: 700;
}

.body-text {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  color: azure;
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: 'Poppins', sans-serif;
}


.body{
font-family: 'Poppins', serif;
}

.App-link {
  color: #f4c4e5;
  font-family: 'Poppins', serif;
}

/* 
@keyframes Logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

